// reset
@import "scss/reset";

// variables
@import "scss/variables";
@import "scss/breakpoints";
@import "scss/fonts";

// general
@import "scss/general";

// components
@import "scss/components/section_square";
@import "scss/components/cta-1";
@import "scss/components/burger";
@import "scss/components/nav";

// pages
@import "scss/pages/home";
@import "scss/pages/404";
