section#home {
  display: flex;
  justify-content: center;
  align-items: center;

  @include responsive(mobile) {
    justify-content: start;
  }

  .content {
    display: flex;
    gap: 3rem;

    @include responsive(mobile) {
      flex-direction: column;
      align-items: start;
      height: unset;
      gap: 2rem;
      margin-left: 2rem;
    }

    img {
      object-fit: cover;

      &:hover {
        content: url("/pictures/portrait_matthieu_marchand-draw_2.png");
      }

      @include responsive(mobile) {
        height: 10rem;
        width: auto;
        object-fit: contain;
      }
    }

    .texts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      width: 100%;

      @include responsive(mobile) {
        gap: 2rem;
      }

      .titles {
        h1 {
          @include font("Thunder-SemiBoldHC", 56px);
          letter-spacing: 2px;
          @include responsive(mobile) {
            font-size: 36px;
          }
        }

        h2 {
          @include font($light, 24px);
          @include responsive(mobile) {
            font-size: 20px;
          }
        }
      }
    }
  }
}
