section#error404 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 8rem;

  @include responsive(mobile) {
    margin: 0 2rem;
  }

  h1 {
    @include font("Thunder-SemiBoldLC", 144px);

    @include responsive(mobile) {
      font-size: 64px;
      line-height: 56px;
    }
  }

  p {
    @include font($light, 24px);

    @include responsive(mobile) {
      font-size: 20px;
    }

    a {
      color: $black;
    }
  }
}
